body {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-fluid {
    font-family: "argent-cf", serif;
    font-weight: 400;
    font-style: normal;   

}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

