body {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f5efe2;
}

.container-fluid {
    font-family: "argent-cf", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.navbar {
    background-color: #3e4a78;
}

.navbar ul li:hover, .top-nav ul li:hover a {
}