body {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    font-family: "argent-cf", serif;
    font-weight: 400;
    font-style: normal;
}